<footer class="footer">
  <div class="footer-container">
    <!-- Columna 1 -->
    <div class="footer-column">
      <h3 class="brand">TecnoServicios</h3>
      <p>© 2025 Todos los derechos reservados.</p>
    </div>

    <!-- Columna 2 -->
    <div class="footer-column">
      <h4>Enlaces</h4>
      <a routerLink="/">Inicio</a>
      <a routerLink="/services">Servicios</a>
      <a routerLink="/contact">Contacto</a>
    </div>

    <!-- Columna 3 -->
    <div class="footer-column">
      <h4>Redes</h4>
      <a href="https://co.linkedin.com/" target="_blank">LinkedIn</a>
      <a href="https://x.com/" target="_blank">Twitter</a>
      <a href="https://www.instagram.com/" target="_blank">Instagram</a>
    </div>
  </div>
</footer>
